<div class="col-10 mx-auto py-3 bg-light">
  <h2>Entre em contato conosco</h2>

  <p class="lead">Preencha o formulário abaixo para entrar em contato conosco</p>

  <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" name="name" id="nome" ngModel placeholder="Digite seu Nome">
    </div>
    <div class="form-group">
      <label for="email">Endereço de E-Mail</label>
      <input type="email" class="form-control" name="email" id="email" ngModel placeholder="Digite seu E-Mail">
    </div>
    <div class="form-group">
      <label for="mensagem">Mensagem</label>
      <textarea class="form-control" name="message" id="mensagem" rows="5" ngModel></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar Mensagem</button>
  </form>
</div>
